pandas
numpy
altair
streamlit
streamlit-authenticator
streamlit-folium
streamlit_js_eval
psycopg2-binary
geocoder
Image
Pillow
watchdog
scikit-learn
matplotlib
plotly
warnings
joblib
opencv-python
tensorflow
SQLAlchemy